<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
    {% for  user in userlist %}
            <tr>
                <td>
                    <a target="__blank" href="user_detail?id={{user[0]}}">
                        {{user[0]}}
                    </a>
                </td> 
                 <td>{{user[1]}}</td> 
             </tr>
    {% endfor %}
    </table>

           
</body>
</html>